.hc__authorization__soc {
    display: none;
}

.hc__authorization__anonim > .hc__authorization__wrapf:nth-child(2) {
    display: none;
} 

.polls-overlay {
}

.polls-overlay > .polls-overlay__title > h2 {
    color: white !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%
}

.polls-overlay__choices > .choice:nth-child(2) {
    background-color: white !important;
    color: black !important;
}

.polls-overlay__choices > .choice:nth-child(2) > .choice__text {
    color: black !important;
}


.polls-overlay__choices > .choice {
    border: 2px solid #5e6a7d !important;
} 

.polls-overlay__choices > .choice > .choice__text {
    color: white !important;
}
